
<p class="name">
    About Mikel Lindsaar
</p>

<p class="summary">
    Proud husband and father.<br>
    Volunteered <a href="/about">full time</a> for a decade,
    built and sold <a href="/work">4 companies since 2010</a>.<br>
    Wrote
    <a href="/books">TRUE TEAM</a> and <a href="/books">Why Ruby on Rails?</a>.
    runs <a href="https://getstoreconnect.com/" target="_blank">StoreConnect</a>, 
    <a href="https://metapulse.com/" target="_blank">MetaPulse</a> and 
    <a href="https://reinteractive.com/" target="_blank">reinteractive</a>.
</p>

<script>
if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
    var element = document.getElementById('wrapper');
    element.classList.add("color-theme-2");
    element.classList.remove("color-theme-0");
    element.classList.remove("color-theme-1");
}
</script>